/* <!---------------------------------------- FIRST PAGE --------------------------------------------------------------> */
.imac-1screen {
  background-color: #f8d0a0;
  height: 860px;
  overflow: hidden;
  position: relative;
  width: 1520px;
  top: -8px;
}

.imac-1screen .overlap-group1 {
  height: 1328px;
  left: 19px;
  position: absolute;
  top: -723px;
  width: 1440px;
}

.imac-1screen .mask-group {
  height: 1200px;
  left: 325px;
  position: absolute;
  top: 125px;
  width: 1243px;
  border-radius: 50%;
}

.imac-1screen .menu-bar {
  display: flex;
  height: 25px;
  left: 20px;
  position: absolute;
  top: 750px;
  width: 1500px;
}

.imac-1screen .frame-1 {
  display: flex;
  font-style: italic;
  height: 25px;
  margin-top: 5px;
  width: 125px;
}

.imac-1screen .logo {
  display: flex;
  height: 100px;
  width: 155px;
}

.imac-1screen .decode-apocalypse {
  color: var(--mine-shaft);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-weight: 1000;
  height: 200px;
  letter-spacing: 0;
  width: 10%;
}

.imac-1screen .group-1 {
  height: 30px;
  margin-left: 1149.7px;
  margin-top: -0.3px;
  width: 30px;
}

.imac-1screen .overlap-group {
  height: 183px;
  left: 875px;
  position: absolute;
  top: 1146px;
  width: 183px;
}

.imac-1screen .project-management-1 {
  height: 106px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 106px;
}

.imac-1screen .radar {
  height: 183px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 100px;
  width: 183px;
}

.imac-1screen .group-14 {
  display: flex;
  flex-direction: column;
  height: 100px;
  left: 32px;
  position: absolute;
  top: 450px;
  width: 443px;
}

.imac-1screen .group-6 {
  display: flex;
  margin-left: 23.5px;
  width: 387.4301452636719px;
}

.imac-1screen .text-1 {
  height: 215.2947540283203px;
  letter-spacing: 0;
  text-align: justify;
  width: 387.4301452636719px;
}

.imac-1screen .text-2 {
  color: var(--mine-shaft);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxs);
  font-weight: 600;
  height: 57px;
  letter-spacing: 0;
  margin-left: 24px;
  margin-top: 9.6px;
  text-align: justify;
  width: 419px;
}

.imac-1screen .register {
  background-color: var(--indochine);
  border-radius: 100px;
  box-shadow: 2px 2px 4px #00000040;
  display: flex;
  margin-top: 15px;
}

.imac-1screen .sign-inregister {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 600;
  height: 45px;
  letter-spacing: 1;
  margin-left: 10px;
  text-align: center;
  width: 280px;
  margin-top: 6%;
}

/* <!---------------------------------------- SECOND PAGE --------------------------------------------------------------> */

.imac-2screen {
  background-color: #cdf7ff;
  height: 950px;
  overflow: hidden;
  position: relative;
  width: 1520px;
  top: -8px;
}

.imac-2screen .overlap-group1 {
  height: 1328px;
  left: 19px;
  position: absolute;
  top: -723px;
  width: 1440px;
}

.imac-2screen .mask-group {
  height: 1200px;
  left: 325px;
  position: absolute;
  top: 125px;
  width: 1243px;
  border-radius: 50%;
}

.imac-2screen .menu-bar {
  display: flex;
  height: 25px;
  left: 20px;
  position: absolute;
  top: 750px;
  width: 1500px;
}

.imac-2screen .frame-1 {
  display: flex;
  font-style: italic;
  height: 25px;
  margin-top: 5px;
  width: 125px;
}

.imac-2screen .logo {
  display: flex;
  height: 100px;
  width: 155px;
}

.imac-2screen .decode-apocalypse {
  color: var(--mine-shaft);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-weight: 1000;
  height: 200px;
  letter-spacing: 0;
  width: 10%;
}

.imac-2screen .group-1 {
  height: 30px;
  margin-left: 1149.7px;
  margin-top: -0.3px;
  width: 30px;
}

.imac-2screen .overlap-group {
  height: 183px;
  left: 875px;
  position: absolute;
  top: 1146px;
  width: 183px;
}

.imac-2screen .project-management-1 {
  height: 106px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 106px;
}

.imac-2screen .radar {
  height: 183px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 100px;
  width: 183px;
}

.imac-2screen .group-14 {
  display: flex;
  flex-direction: column;
  height: 100px;
  left: 32px;
  position: absolute;
  top: 450px;
  width: 443px;
}

.imac-2screen .group-6 {
  display: flex;
  margin-left: 23.5px;
  width: 387.4301452636719px;
}

.imac-2screen .text-1 {
  height: 215.2947540283203px;
  letter-spacing: 0;
  text-align: justify;
  width: 387.4301452636719px;
}

.imac-2screen .text-2 {
  color: var(--mine-shaft);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxs);
  font-weight: 600;
  height: 57px;
  letter-spacing: 0;
  margin-left: 24px;
  margin-top: 9.6px;
  text-align: justify;
  width: 419px;
}

.imac-2screen .register {
  background-color: var(--indochine);
  border-radius: 100px;
  box-shadow: 2px 2px 4px #00000040;
  display: flex;
  margin-top: 15px;
}

.imac-2screen .sign-inregister {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 600;
  height: 45px;
  letter-spacing: 1;
  margin-left: 10px;
  text-align: center;
  width: 280px;
  margin-top: 6%;
}

.imac-2screen .another {
  background-color: var(--indochine);
  border-radius: 100px;
  box-shadow: 2px 2px 4px #00000040;
  display: flex;
  margin-top: 4%;
}

.imac-2screen .another-btn {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 600;
  height: 45px;
  letter-spacing: 1;
  margin-left: 10px;
  text-align: center;
  width: 280px;
  margin-top: 6%;
}

/* <!---------------------------------------- THIRD PAGE --------------------------------------------------------------> */

.imac-3screen {
  background-color: #caffd3;
  height: 860px;
  overflow: hidden;
  position: relative;
  width: 1520px;
  top: -8px;
}

.imac-3screen .overlap-group1 {
  height: 1328px;
  left: 19px;
  position: absolute;
  top: -723px;
  width: 1440px;
}

.imac-3screen .mask-group {
  height: 1200px;
  left: 325px;
  position: absolute;
  top: 125px;
  width: 1243px;
  border-radius: 50%;
}

.imac-3screen .menu-bar {
  display: flex;
  height: 25px;
  left: 20px;
  position: absolute;
  top: 750px;
  width: 1500px;
}

.imac-3screen .frame-1 {
  display: flex;
  font-style: italic;
  height: 25px;
  margin-top: 5px;
  width: 125px;
}

.imac-3screen .logo {
  display: flex;
  height: 100px;
  width: 155px;
}

.imac-3screen .decode-apocalypse {
  color: var(--mine-shaft);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-weight: 1000;
  height: 200px;
  letter-spacing: 0;
  width: 10%;
}

.imac-3screen .group-1 {
  height: 30px;
  margin-left: 1149.7px;
  margin-top: -0.3px;
  width: 30px;
}

.imac-3screen .overlap-group {
  height: 183px;
  left: 875px;
  position: absolute;
  top: 1146px;
  width: 183px;
}

.imac-3screen .project-management-1 {
  height: 106px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 106px;
}

.imac-3screen .radar {
  height: 183px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 100px;
  width: 183px;
}

.imac-3screen .group-14 {
  display: flex;
  flex-direction: column;
  height: 100px;
  left: 32px;
  position: absolute;
  top: 450px;
  width: 443px;
}

.imac-3screen .group-6 {
  display: flex;
  margin-left: 23.5px;
  width: 387.4301452636719px;
}

.imac-3screen .text-1 {
  height: 215.2947540283203px;
  letter-spacing: 0;
  text-align: justify;
  width: 387.4301452636719px;
}

.imac-3screen .text-2 {
  color: var(--mine-shaft);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxs);
  font-weight: 600;
  height: 57px;
  letter-spacing: 0;
  margin-left: 24px;
  margin-top: 9.6px;
  text-align: justify;
  width: 419px;
}

.imac-3screen .register {
  background-color: var(--indochine);
  border-radius: 100px;
  box-shadow: 2px 2px 4px #00000040;
  display: flex;
  margin-top: 15px;
}

.imac-3screen .sign-inregister {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 600;
  height: 45px;
  letter-spacing: 1;
  margin-left: 10px;
  text-align: center;
  width: 280px;
  margin-top: 6%;
}

/* <!---------------------------------------- FORTH PAGE --------------------------------------------------------------> */

.imac-4screen {
  background-color: #ffe5df;
  height: 860px;
  overflow: hidden;
  position: relative;
  width: 1520px;
  top: -8px;
}

.imac-4screen .overlap-group1 {
  height: 1328px;
  left: 19px;
  position: absolute;
  top: -723px;
  width: 1440px;
}

.imac-4screen .mask-group {
  height: 1200px;
  left: 325px;
  position: absolute;
  top: 125px;
  width: 1243px;
  border-radius: 50%;
}

.imac-4screen .menu-bar {
  display: flex;
  height: 25px;
  left: 20px;
  position: absolute;
  top: 750px;
  width: 1500px;
}

.imac-4screen .frame-1 {
  display: flex;
  font-style: italic;
  height: 25px;
  margin-top: 5px;
  width: 125px;
}

.imac-4screen .logo {
  display: flex;
  height: 100px;
  width: 155px;
}

.imac-4screen .decode-apocalypse {
  color: var(--mine-shaft);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-weight: 1000;
  height: 200px;
  letter-spacing: 0;
  width: 10%;
}

.imac-4screen .group-1 {
  height: 30px;
  margin-left: 1149.7px;
  margin-top: -0.3px;
  width: 30px;
}

.imac-4screen .overlap-group {
  height: 183px;
  left: 875px;
  position: absolute;
  top: 1146px;
  width: 183px;
}

.imac-4screen .project-management-1 {
  height: 106px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 106px;
}

.imac-4screen .radar {
  height: 183px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 100px;
  width: 183px;
}

.imac-4screen .group-14 {
  display: flex;
  flex-direction: column;
  height: 100px;
  left: 32px;
  position: absolute;
  top: 450px;
  width: 443px;
}

.imac-4screen .group-6 {
  display: flex;
  margin-left: 23.5px;
  width: 387.4301452636719px;
}

.imac-4screen .text-1 {
  height: 215.2947540283203px;
  letter-spacing: 0;
  text-align: justify;
  width: 387.4301452636719px;
}

.imac-4screen .text-2 {
  color: var(--mine-shaft);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxs);
  font-weight: 600;
  height: 57px;
  letter-spacing: 0;
  margin-left: 24px;
  margin-top: 9.6px;
  text-align: justify;
  width: 419px;
}

.imac-4screen .register {
  background-color: var(--indochine);
  border-radius: 100px;
  box-shadow: 2px 2px 4px #00000040;
  display: flex;
  margin-top: 15px;
}

.imac-4screen .sign-inregister {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 600;
  height: 45px;
  letter-spacing: 1;
  margin-left: 10px;
  text-align: center;
  width: 280px;
  margin-top: 6%;
}

/* ------------------------------------------ COMMMON ----------------------------------------- */
.button {
  font-size: 180%;
  text-align: center;
  color: black;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:700|Poppins:400,500,600");
.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}
